h2 {
    text-decoration: underline;
}

.button-next-session{
    color:aliceblue;
    font-size: 25px;
    background: #4B71EB;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    position: absolute;
    width: 200px;
    height: 73px;
    left: 317px;
    top: 780px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.Tabs {
    position: fixed;
    bottom:0;
    width: 100%;
}

.dottedBorder {
    display: flex;
    border-style: dotted;
    border-radius: 30px;
    color:rgb(0, 0, 0);
    font-size: 25px;
    background: #dddfe5;
    justify-content: left;
    align-items: center;
    left: 30px;
    width: 740px;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.dottedBorderButton{
    position: absolute;
    left: 570px;
}

.sessionOne{
    top: 40px;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px 2px rgba(187, 187, 187, 0.25);
    border-radius: 20px;
    display: flex;
    font-size: 25px;
    justify-content: left;
    align-items: center;
    height: 100px;
    position: relative;
    left: 35px;
    width: 740px;
    height: 390px;
    padding: 50px;
    border: 1px ridge rgb(0, 0, 0);
}

.sessionTitle{
    position: absolute;
    font-weight: 590;
    font-size: 30px;
    top: 10px;
    color: #4B71EB;
}

.subTitle {
    position: absolute;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    left: 50px;
    text-align: center;
}

.playBtn {
    position: absolute;
    color:#FFFFFF;
    left: 610px;
    width: 120px;
    height: 60px;
    top: 320px;
    background: #4B71EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.sessionTwo{
    top: 60px;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px 2px rgba(187, 187, 187, 0.25);
    border-radius: 20px;
    display: flex;
    font-size: 25px;
    justify-content: left;
    align-items: center;
    height: 100px;
    position: relative;
    left: 35px;
    width: 740px;
    height: 390px;
    padding: 50px;
    border: 1px ridge rgb(0, 0, 0);
}

.sessionThree {
    top: 80px;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px 2px rgba(187, 187, 187, 0.25);
    border-radius: 20px;
    display: flex;
    font-size: 25px;
    justify-content: left;
    align-items: center;
    height: 100px;
    position: relative;
    left: 35px;
    width: 740px;
    height: 390px;
    padding: 50px;
    border: 1px ridge rgb(0, 0, 0);
}

.profile_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px ridge #5365EE;
    background-color: #5365EE;
    border-radius: 20px;
    position: absolute;
    width: 834px;
    height: 517px;
    left: 0px;
    top: 0px;
}

.boyNgirl {
    position: relative;
    width: 260px;
    height: 290px;
    top:100px;
    left: 45px;
}

.profile_headerText{
    position: absolute;
    font-size: 56px;
    color:#FFFFFF;
    top: 200px;
    left: 300px;
}

.profile_subtitle{
    position: absolute;
    color:#FFFFFF;
    top: 300px;
    left: 300px;
}    

.setting{
    position: absolute;
    top: 400px;
    left: 40px;
    width: 90%;
}

.history {
    display: block;
}

.radarChart {
    position: relative;
    top: 520px;
    width: 100%;
}

.playTime {
    position: relative;
    top: 550px;
    width: 100%;
}

.playTimeList {
    position: relative;
    top: 570px;
    width: 100%;
}
