h2 {
    text-decoration: underline;
}

.button-next-session{
    color:aliceblue;
    font-size: 25px;
    background: #4B71EB;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    position: absolute;
    width: 200px;
    height: 73px;
    left: 317px;
    top: 780px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.cards {
    display:inline-block;
    flex-direction: row;
    align-items: center; 
}

.Art{
    /* font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    top: 100px;
    left: 200px;
    font-size: 24px; */
    
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    position: absolute;
    width: 165px;
    height: 71px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    top: 30px;
    left: 40px;
    font-size: 24px;
}

.Puzzle {
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    position: absolute;
    width: 165px;
    height: 71px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    top: 460px;
    left: 40px;
    font-size: 24px;
}

.Sport{
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    position: absolute;
    width: 165px;
    height: 71px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    top: 840px;
    left: 40px;
    font-size: 24px;
}

.Music {
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    position: absolute;
    width: 165px;
    height: 71px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    top: 1260px;
    left: 40px;
    font-size: 24px;
}