.Category {
    display: inline-block;
}

.interest{
    flex-direction: row;
    padding: 50px;
    position: relative;
    top: 390px; 
    left: 60px
}

.label{
    font-size: 20px;
}

.button-next {
    color:aliceblue;
    font-size: 25px;
    background: #4B71EB;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    position: absolute;
    width: 200px;
    height: 73px;
    left: 317px;
    top: 780px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.title {
    position: absolute;
    width: 450px;
    height: 129px;
    left: 180px;
    top: 234px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
}
  