.createSession__container {
    flex-direction: row;
    padding: 20px;
    position: relative;
    top: 10px; 
}

.type_choice{
    display: flex;
    flex-direction: row;
    padding: 20px;
    top: 10px;
}