.OnBoarding {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 2em;
    margin-top: 9em;
}

.startButton {
    background-color: #4B71EB;
    font-size: 36px;
    color:rgb(255, 255, 255);
    border-radius: 32px;
    position: absolute;
    width: 473px;
    height: 83px;
    left: 181px;
    top: 900px;
}

h1{
    font-size: 80px;
    /* text-align: center; */
    margin-left: 1.5em;
    font-weight: 800;
    color: rgb(10, 76, 161);
    margin-bottom: 0.6em;
}

.img-1{
    position: absolute;
    width: 513.2px;
    height: 226px;
    left: 276px;
    top: 120px;
    
}

.img-2{
    position: absolute;
    width: 496.71px;
    height: 421px;
    left: 82px;
    top: 330px;
    
}