.OnBoarding2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 2em;
    margin-top: 9em;
  }

.button1 {
    background-color: rgb(10, 76, 161);
    font-size: 36px;
    color:rgb(255, 255, 255);
    border-radius: 32px;
    position: absolute;
    width: 473px;
    height: 83px;
    left: 181px;
    top: 680px;
}

.button2 {
    background-color: rgb(255, 255, 255);
    font-size: 36px;
    color: rgb(10, 76, 161);
    border-radius: 32px;
    border-width: 3px;
    position: absolute;
    width: 473px;
    height: 83px;
    left: 181px;
    top: 860px;
}
