.Role {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 2em;
    margin-top: 9em;
}

.button1 {
    background-color: rgb(10, 76, 161);
    font-size: 36px;
    color:rgb(255, 255, 255);
    border-radius: 32px;
    position: absolute;
    width: 473px;
    height: 83px;
    left: 181px;
    top: 720px;
}

.button2 {
    background-color: rgb(255, 255, 255);
    font-size: 36px;
    color: rgb(10, 76, 161);
    border-radius: 32px;
    border-width: 3px;
    position: absolute;
    width: 473px;
    height: 83px;
    left: 181px;
    top: 850px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid rgb(10, 76, 161);
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(10, 76, 161);
}

.modal-header .title {
    font-size: 1.25em;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25em;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* .title{
    position: absolute;
    width: 321px;
    height: 43px;
    left: 220px;
    top: 234px;
    
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 48px;
    line-height: 43px;
    color: #364663;
} */

.img-3{
    position: absolute;
    width: 420px;
    height: 286px;
    left: 224px;
    top: 286px;
}