.code-box{
        width: 420px;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 8px;
        justify-content: center;
        background-color: white;
        position: absolute;
        left: 217px;
        top: 234px;
}
.react-code-input {
    position: absolute;
    left: 70px;
    top: 120px;
}
.button-enter{
    color:aliceblue;
    font-size: 25px;
    background: #4B71EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    position: absolute;
    width: 200px;
    height: 73px;
    left: 317px;
    top: 658px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.title-dig {
    width: 401px;
    height: 43px;
    left: 217px;
    top: 234px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    font-size: 18px;
    text-align: center;
}
